/* REFERENCE
================================ */
/**
 * Included Font Weights and Styles:
 * Roboto: 400,100,300,500,700,300italic
 * Roboto Slab: 400,300,700,100
 */
/* END REFERENCE
================================ */
/* VARIABLES
================================ */
/** Fonts */
/* END VARIABLES
================================ */
/* RESET
================================ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END RESET
================================ */
/* DEFAULT STYLES
================================ */
* {
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background: #F5F5F5; }

/* Apply to parent container of floated elements */
.grid:after {
  content: "";
  display: table;
  clear: both; }

/* END DEFAULT STYLES
================================ */
/* HEADER
================================ */
.site-header {
  background: url("../images/books_header_bg.jpg") repeat-x fixed;
  padding-top: 37px;
  height: 264px; }
  .site-header .wrapper {
    max-width: 668px;
    margin: 0 auto; }

.logo {
  width: 78px;
  margin-right: 15px; }
  .logo img {
    width: 100%;
    height: auto; }

.site-title {
  display: block;
  text-decoration: none;
  margin-bottom: 42px; }
  .site-title div {
    display: inline-block;
    vertical-align: middle; }
  .site-title h1 {
    color: #FFF;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 100;
    font-size: 1.9rem;
    padding-bottom: .3em; }
    .site-title h1 span {
      font-weight: 300; }
  .site-title h2 {
    color: #708B0B;
    font-weight: 300; }

.search {
  position: relative; }
  .search input, .search button {
    height: 56px;
    border-radius: 2px; }
  .search input {
    display: block;
    width: 100%;
    padding: 1em;
    border: 0;
    outline: 0;
    background: #CEDD9A;
    color: #708B0B;
    font-size: 1.1rem;
    font-weight: 300; }
  .search input::-webkit-input-placeholder {
    color: #708B0B; }
  .search ::-webkit-input-placeholder {
    color: #708B0B; }
  .search ::-moz-placeholder {
    color: #708B0B; }
  .search :-ms-input-placeholder {
    color: #708B0B; }
  .search :-moz-placeholder {
    color: #708B0B; }
  .search button {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 66px;
    border: 0;
    background: #FFF; }
    .search button i {
      font-size: 1.6rem;
      color: #C1E235; }

/* END HEADER
================================ */
/* NAV
================================ */
nav {
  padding: 1.25em 0;
  background: #FFF; }
  nav ul {
    text-align: center; }
  nav li {
    display: inline-block;
    padding-right: 1.7em; }
    nav li:last {
      padding-right: none; }
  nav a {
    text-decoration: none;
    color: #969696;
    font-size: 1.1rem;
    font-weight: 300; }
  nav .active {
    color: #C1E235; }

/* END NAV
================================ */


/* CARD SECTION
================================ */

.wrapper {
  width: 80%;
  margin: auto;
}
a {
  color: #1389d3;
  text-decoration: none;
}
.btn {
  display: inline-block;
  border: 1px solid #a4d51a;
  color: #a4d51a;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  margin: 0 10px;
}
.btn.btn-download {
  background-color: #87cc00;
  color: #fff;
  margin: 0;
  font-size: 24px;
  padding: 10px 60px;
}
.book-details {
  margin: 90px 0 30px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(150,150,150,0.5);
}
.book-details .book-main {
  overflow: hidden;
}
.book-details .book-main .book-meta {
  float: left;
  width: 70%;
  padding: 25px;
}
.book-details .book-main .book-meta h3 {
  font-weight: 300;
  font-size: 32px;
  color: #333;
  margin: 10px 0;
}
.book-details .book-main .book-meta .book-author-detail {
  margin: 15px 0;
}
.book-details .book-main .book-meta .book-author-detail span {
  color: #666;
}
.book-details .book-main .book-meta .book-author-detail span a {
  
}
.book-details .book-main .book-meta .book-author-detail abbr {
  color: #999;
  margin: 10px;
}
.book-details .book-main .book-meta .book-info {
  overflow: hidden;
  margin: 30px 0 10px;
}
.book-details .book-main .book-meta .book-info .book-desc {
  float: left;
  width: 60%;
  border-right: 2px solid #eee;
  padding-right: 15px;
}
.book-details .book-main .book-meta .book-info .book-desc p {
  color: #666;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.5;
}
.book-details .book-main .book-meta .book-info .book-extra {
  float: right;
  width: 40%;
}
.book-details .book-main .book-meta .book-info .book-extra .bottom-links {
  padding: 10px 10px 0;
}
.book-details .book-main .book-meta .book-info .book-extra .bottom-links li {
  border-top: 1px solid #eee;
}
.book-details .book-main .book-meta .book-info .book-extra .bottom-links li:first-child {
  border-top: 0;
}
.book-details .book-main .book-meta .book-info .book-extra .bottom-links a {
  overflow: hidden;
  padding: 10px;
  font-size: 16px;
  display: block;
}
.book-details .book-main .book-meta .book-info .book-extra .bottom-links a i {
  float: right;
  font-size: 10.4px;
  margin-top: 8px;
}
.book-details .book-main .book-cover {
  float: right;
  width: 30%;
}
.book-details .book-main .book-cover img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}
.download-options,
.buy-options {
  overflow: hidden;
  margin: 10px 0 50px;
}
.buy-options ul {
  float: left;
  margin-top: 10px;
}
.buy-options ul li {
  border-radius: 5px;
  display: inline-block;
  background-color: #fff;
  font-size: 18px;
  padding-right: 10px;
  overflow: hidden;
  margin-right: 20px;
}
.buy-options ul li img {
    border-right: 1px solid #f5f5f5;
  display: inline-block;
  margin-right: 0px;
  vertical-align: middle;
}
.buy-options ul li span {
  vertical-align: middle;
  color: #acd92f;
}
.bookmark {
  float: right;
}

.slider-container { 
  padding: 0 15px; 
}
.slider { 
  margin: 0 0 15px; 
}
.slider .label { 
  display: block; padding: 10px; 
}
.slider .label span { 
  position: relative; 
  font-size: 10px; 
  padding: 3px; 
  background-color: #999; 
  color: #fff; left: 5px; 
  bottom: 0px; 
}
.slider .label .inner-label-yell {
  color: #c88c00;
}
.slider .label .inner-label-green {
  color: #249c3d;
}
.slider .label .inner-label-blue {
  color: #008ca9;
}
.slider .range { 
  border-radius: 5px; 
  background-color: #eee; 
  height: 5px; 
  position: relative; 
}
.slider .range span { 
  position: absolute; 
  right: 0; 
  bottom: 15px; 
  font-size: 12px; 
}
.slider .range .percentage { 
  position: relative; 
  height: 5px; 
  background-color: #999; 
}

.slider .label span:after, .slider .label span:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.slider .label span:after {
  border-color: rgba(153, 153, 153, 0);
  border-top-color: #999;
  border-width: 5px;
  margin-left: -5px;
}
.slider .label span:before {
  border-color: rgba(153, 153, 153, 0);
  border-top-color: rgba(0,0,0,0);
  border-width: 6px;
  margin-left: -6px;
  display: none;
}

.slider.slider-green .label, 
.slider.slider-green .range span { 
  color: #8fce86; 
}
.slider.slider-green .label span,
.slider.slider-green .range .percentage { 
  background-color: #8fce86; 
}
.slider.slider-green .label span:after, .slider .label span:before { 
  border-top-color: #8fce86;
}

.slider.slider-blue .label, 
.slider.slider-blue .range span { 
  color: #4bbfdb; 
}
.slider.slider-blue .label span, 
.slider.slider-blue .range .percentage { 
  background-color: #4bbfdb; 
}
.slider.slider-blue .label span:after, .slider .label span:before { 
  border-top-color: #4bbfdb;
}

.slider.slider-yellow .label, 
.slider.slider-yellow .range span { 
  color: #f8ca50; 
}
.slider.slider-yellow .label span,
.slider.slider-yellow .range .percentage { 
  background-color: #f8ca50 
}
.slider.slider-yellow .label span:after, .slider .label span:before { 
  border-top-color: #f8ca50;
}

.book-details.open { 
  position: relative; 
}
.book-details.open .mask { 
  background-color: rgba(225, 225, 225, 0.75); 
  position: absolute; 
  left: 0; 
  right: 0; 
  top: 0; 
  bottom: 0; 
  z-index: 1; 
}
.book-details.open .mask .close { 
  position: absolute; 
  right: -35px; 
  font-size: 25pt; 
  top: 0; 
  color: #666; 
}
.book-details.open .mask .tabs { 
  position: absolute;
  right: -525px;
  top: 60px;
  width: 480px;
  height: 45px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg); */
  transform: rotate(90deg);
   -webkit-transform-origin: left top 0; 
  transform-origin: left top 0;
}
.book-details.open .mask .tabs li { 
  height: 45px;
  padding: 0 1.5em;
  line-height: 45px;
  white-space: nowrap;
  display: inline-block;
  font-weight: 300;
  font-size: .9rem;
  border-radius: 4px;
}
.book-details.open .mask .tabs li.tab-selected { 
  background: #C3EBE8;
}
.book-details.open .mask .tabs li a.tab-item { 
  color: #3BA6C1;
}
.book-details.open .mask .tabs li a.tab-item.tab-section1 { 
  color: #3BA6C1;
}
.book-details.open .mask .window { 
  position: absolute; 
  top: 0; 
  left: 40%; 
  bottom: 0; 
  right: 0; 
  background-color: #fff; 
  z-index: 3; 
  border: 3px solid #c3ebe8; 
}
.book-details.open .mask .window .search-holder { 
  padding: 25px; 
}
.book-details.open .mask .window .search-holder input.search { 
  border: 1px solid #ccc; 
  border-radius: 3px; 
  padding: 10px; 
  font-size: 20px; 
  width: 100%; 
  margin-top: 10px; 
}
.book-details.open .mask .window .list-items { 
  overflow: auto; 
  position: absolute; 
  top: 115px; 
  bottom: 15px; 
  right: 15px; 
  left: 15px; 
}
.book-details.open .mask .window .list-items li { 
  padding: 10px 15px; 
  font-size: 16px; 
  overflow: hidden; 
}
.book-details.open .mask .window .list-items li span.text { 
  float: left; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  width: 90%; 
}
.book-details.open .mask .window .list-items li span.text span.search-key { 
  background-color: #d5edd2;
}
.book-details.open .mask .window .list-items li span.page { 
  float: right; 
  text-align: right; 
}

.load-more {
  text-align: center; 
  padding: 15px; 
  line-height: 5; 
  text-transform: uppercase; 
  font-size: 1.5em; 
  margin: 0 0 275px; 
  font-weight: 300;
}
.load-more a {
  color: #999;
}

/* END CARD SECTION
================================ */


/* FOOTER
================================ */
footer {
  height: 200px;
  width: 100%;
  padding: 20px;
  background: #424242; }

.footer-logo-container-left {
  width: 277px;
  height: 52px;
  margin-top: 50px;
  margin-left: 100px; }

.footer-logo-container-right {
  width: 320px;
  height: 52px;
  margin-top: -34px;
  float: right;
  margin-right: 100px; }

img.footer-logo {
  width: 40px;
  height: 40px;
  margin-top: 4px;
  float: left; }

h4.footer-logo-left {
  float: left;
  padding-top: 19px;
  width: 236px;
  height: 46px; }

p.footer-logo-right {
  float: right;
  margin-right: 100px;
  line-height: 20px; }

p.white,
span.white {
  color: white; }

.gray {
  color: grey; }

/* END FOOTER
================================ */
